@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-log {
  background-image: url('./assets/39658.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Custom styles for Navalsys component */
.navalsys-button {
  @apply w-48 h-14 text-lg font-semibold text-white bg-blue-600 rounded-full hover:bg-blue-700 transition-colors shadow-lg;
}

.navalsys-card {
  @apply w-full max-w-2xl p-8 bg-white bg-opacity-50 rounded-2xl backdrop-filter backdrop-blur-md;
}

.navalsys-nav-link {
  @apply text-black text-lg font-semibold hover:text-blue-700 transition-colors;
}